<a href="https://colab.research.google.com/github/priyachittamuru/python/blob/main/Python_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
# Print a message
print("Hello, World!")

# Taking user input
name = input("Enter your name: ")
print("Hello, " + name + "!")

# Variable assignments and data types
age = 25       # Integer
price = 99.99  # Float
city = "Paris" # String
is_happy = False  # Boolean

# Display values and types
print("Age:", age, "Type:", type(age))
print("Price:", price, "Type:", type(price))
print("City:", city, "Type:", type(city))
print("Is Happy:", is_happy, "Type:", type(is_happy))

Hello, World!
Enter your name: priya
Hello, priya!
Age: 25 Type: <class 'int'>
Price: 99.99 Type: <class 'float'>
City: Paris Type: <class 'str'>
Is Happy: False Type: <class 'bool'>

In [33]:
# Creating a list
fruits = ["Apple", "Banana", "Cherry"]
print("Original List:", fruits)

# Append an element
fruits.append("Orange")
print("After append:", fruits)

# Remove an element
fruits.remove("Banana")
print("After remove:", fruits)

# Pop the last element
popped_item = fruits.pop()
print("After pop:", fruits, "| Popped Item:", popped_item)

# Slicing a list (Extracting elements)
sub_list = fruits[0:2]  # First two elements
print("Sliced List:", sub_list)

Original List: ['Apple', 'Banana', 'Cherry']
After append: ['Apple', 'Banana', 'Cherry', 'Orange']
After remove: ['Apple', 'Cherry', 'Orange']
After pop: ['Apple', 'Cherry'] | Popped Item: Orange
Sliced List: ['Apple', 'Cherry']


1. Appending checks if the item exists before adding.

2. Removing checks if the item is in the list before deleting.
3. Popping removes the last element if the list isn't empty.
4. Slicing extracts the first two elements.

In [34]:
# Sample list
numbers = [1, 2, 3, 4, 5]

# Using a for loop
print("Using for loop:")
for num in numbers:
    print(num)

# Using a while loop
print("Using while loop:")
i = 0
while i < len(numbers):
    print(numbers[i])
    i += 1

Using for loop:
1
2
3
4
5
Using while loop:
1
2
3
4
5

1. For Loop:

* Iterates through the numbers list directly.
Prints each element (num) one by one.
2. While Loop:

* Uses an index (i) to access elements.
Runs until i reaches the length of the list.
Increments i in each iteration to avoid an infinite loop.

In [35]:
# Sample list
numbers = [1, 2, 3, 4, 5]

# Using for loop with if-elif conditions
print("\nChecking even/odd numbers:")
for num in numbers:
    if num % 2 == 0:
        print(f"{num} is even.")
    elif num % 2 == 1:
        print(f"{num} is odd.")

# Nested loop example: Multiplication table
print("\nMultiplication Table (1-3):")
for i in range(1, 3):  # Outer loop (1 to 3)
    for j in range(1, 6):  # Inner loop (1 to 5)
        print(f"{i} x {j} = {i * j}")
    print("---")  # Separator after each table

Checking even/odd numbers:
1 is odd.
2 is even.
3 is odd.
4 is even.
5 is odd.

Multiplication Table (1-3):
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
---
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
---

Iteration & Conditions

1. For loop checks if numbers are even or odd using if-elif.
2. While loop iterates over the list with an index.
3. Nested Loop (Multiplication Table)

* The outer loop picks a number (1-2).
* The inner loop multiplies it by 1-5.

In [36]:
# Creating a tuple
fruits = ("Apple", "Banana", "Cherry", "Mango")

# Access elements by index
print("First Fruit:", fruits[0])  # Apple
print("Last Fruit:", fruits[-1])  # Mango

# Slicing a tuple
print("First two fruits:", fruits[:2])  # ('Apple', 'Banana')

First Fruit: Apple
Last Fruit: Mango
First two fruits: ('Apple', 'Banana')

In [37]:
# Tuples are immutable, meaning elements cannot be changed
try:
    fruits[1] = "Orange"  # This will raise an error
except TypeError as e:
    print("Error:", e)

Error: 'tuple' object does not support item assignment

In [38]:
# Tuple unpacking
a, b, c, d = fruits  # Unpacking elements into variables
print("Unpacked values:", a, b, c, d)

# Partial unpacking
x, y, *rest = fruits
print("First two:", x, y)
print("Remaining:", rest)  # ['Cherry', 'Mango']

Unpacked values: Apple Banana Cherry Mango
First two: Apple Banana
Remaining: ['Cherry', 'Mango']

1. Tuple Creation & Accessing → Uses indexing and slicing.
2. Immutability → Tuples cannot be modified after creation.
3. Tuple Unpacking → Assigns tuple elements to variables efficiently.

In [39]:
# Creating a dictionary with student names and their grades
students = {
    "Alice": 85,
    "Bob": 78,
    "Charlie": 92,
    "David": 88
}

# Accessing values
print("Alice's Grade:", students["Alice"])
print("Charlie's Grade:", students.get("Charlie"))  # Using .get() to avoid errors

Alice's Grade: 85
Charlie's Grade: 92

In [40]:
# Adding a new student
students["Eve"] = 90
print("After Adding Eve:", students)

# Updating a student's grade
students["Bob"] = 82
print("After Updating Bob's Grade:", students)

# Deleting a student
del students["David"]
print("After Deleting David:", students)

# Removing a student using pop()
removed_grade = students.pop("Charlie")
print(f"Charlie's grade ({removed_grade}) removed:", students)

After Adding Eve: {'Alice': 85, 'Bob': 78, 'Charlie': 92, 'David': 88, 'Eve': 90}
After Updating Bob's Grade: {'Alice': 85, 'Bob': 82, 'Charlie': 92, 'David': 88, 'Eve': 90}
After Deleting David: {'Alice': 85, 'Bob': 82, 'Charlie': 92, 'Eve': 90}
Charlie's grade (92) removed: {'Alice': 85, 'Bob': 82, 'Eve': 90}

In [41]:
# Iterating through keys
print("\nStudent Names:")
for name in students.keys():
    print(name)

# Iterating through values
print("\nStudent Grades:")
for grade in students.values():
    print(grade)

# Iterating through key-value pairs
print("\nStudent Details:")
for name, grade in students.items():
    print(f"{name}: {grade}")

Student Names:
Alice
Bob
Eve

Student Grades:
85
82
90

Student Details:
Alice: 85
Bob: 82
Eve: 90

1. Dictionary Creation → Stores student names as keys and grades as values.
2. Operations → Add, update, delete key-value pairs efficiently.
3. Iteration → Loops through keys, values, and key-value pairs.

In [42]:
# Creating a set of student names
students = {"Alice", "Bob", "Charlie", "David", "Alice"}  # 'Alice' appears twice

# Sets automatically remove duplicates
print("Student Set:", students)  # Output: {'Alice', 'Bob', 'Charlie', 'David'}

Student Set: {'Alice', 'Charlie', 'Bob', 'David'}

 Uniqueness Property → Sets automatically remove duplicate values.

In [43]:
# Another set of students who passed an exam
passed_students = {"Charlie", "Eve", "Alice", "Frank"}

# Union: Combine both sets (all unique elements)
all_students = students.union(passed_students)
print("Union (All Students):", all_students)

# Intersection: Common elements in both sets
common_students = students.intersection(passed_students)
print("Intersection (Common Students):", common_students)

# Difference: Students in 'students' but not in 'passed_students'
diff_students = students.difference(passed_students)
print("Difference (Students not in Passed List):", diff_students)

Union (All Students): {'Frank', 'Eve', 'Alice', 'Bob', 'David', 'Charlie'}
Intersection (Common Students): {'Charlie', 'Alice'}
Difference (Students not in Passed List): {'Bob', 'David'}

1. Union (A | B) → Combines both sets without duplicates.
2. Intersection (A & B) → Finds common elements between sets.
3. Difference (A - B) → Finds elements in one set but not the other.

## **Comparision between list,tuple,dictionary and sets**

| Data Structure | Ordered? | Mutable? | Allows Duplicates? | Key-Value Pairs? | Syntax |
|---------------|---------|---------|----------------|----------------|--------|
| **List**      | ✅ Yes  | ✅ Yes  | ✅ Yes         | ❌ No         | `[]` |
| **Tuple**     | ✅ Yes  | ❌ No   | ✅ Yes         | ❌ No         | `()` |
| **Dictionary**| ✅ Yes  | ✅ Yes  | ❌ No (keys)   | ✅ Yes         | `{key: value}` |
| **Set**       | ❌ No   | ✅ Yes  | ❌ No         | ❌ No         | `{}` or `set()` |

1. List → Ordered, changeable, allows duplicates. Example: ["Alice", "Bob", "Charlie"]
2. Tuple → Ordered, immutable (cannot be changed), allows duplicates. Example: ("Alice", "Bob", "Charlie")
3. Dictionary → Stores key-value pairs, ordered (since Python 3.7), keys must be unique. Example: {"Alice": 85, "Bob": 78}
4. Set → Unordered, does not allow duplicates, used for unique values. Example: {"Alice", "Bob", "Charlie"}

In [44]:
# Check if a student passed or failed
score = int(input("Enter student's score: "))

if score >= 50:
    print("Pass")
else:
    print("Fail")

Enter student's score: 60
Pass

If-Else → Makes decisions based on conditions.

In [45]:
# Grading system based on score
score = int(input("Enter student's score: "))

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
elif score >= 60:
    print("Grade: D")
else:
    print("Grade: F (Fail)")

Enter student's score: 79
Grade: C

In [46]:
# Check if a person is eligible to vote and for a senior citizen discount
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote.")

    if age >= 60:
        print("You are also eligible for a senior citizen discount.")
    else:
        print("You are not eligible for a senior citizen discount.")
else:
    print("You are not eligible to vote.")

Enter your age: 77
You are eligible to vote.
You are also eligible for a senior citizen discount.

1. Nested If-Else → Handles multiple conditions for complex logic.
2. Examples → Covers pass/fail check, grading system, voting & discount eligibility.

In [47]:
# List iteration
students = ["Alice", "Bob", "Charlie", "David"]
print("Iterating over a list:")
for student in students:
    print(student)

# Tuple iteration
scores = (85, 78, 92, 88)
print("\nIterating over a tuple:")
for score in scores:
    print(score)

# Dictionary iteration (keys & values)
grades = {"Alice": 85, "Bob": 78, "Charlie": 92}
print("\nIterating over a dictionary:")
for name, grade in grades.items():
    print(f"{name}: {grade}")

Iterating over a list:
Alice
Bob
Charlie
David

Iterating over a tuple:
85
78
92
88

Iterating over a dictionary:
Alice: 85
Bob: 78
Charlie: 92

1. For Loops → Iterate over lists, tuples, and dictionaries efficiently.

In [48]:
# Print numbers from 1 to 5 using while loop
print("\nUsing while loop:")
num = 1
while num <= 5:
    print(num)
    num += 1

Using while loop:
1
2
3
4
5

1. While Loops → Repeats a task until a condition is met.

In [49]:
# Using break to stop the loop when a condition is met
print("\nUsing break in a loop:")
for student in students:
    if student == "Charlie":
        print("Found Charlie, stopping loop.")
        break
    print(student)

# Using continue to skip an iteration
print("\nUsing continue in a loop:")
for student in students:
    if student == "Bob":
        print("Skipping Bob...")
        continue
    print(student)

Using break in a loop:
Alice
Bob
Found Charlie, stopping loop.

Using continue in a loop:
Alice
Skipping Bob...
Charlie
David

1. Break Statement → Stops the loop when a condition is met.
2. Continue Statement → Skips the current iteration and moves to the next.

In [50]:
numbers = [10, 25, 67, 89, 45, 100, 34]

# Using max() function
largest = max(numbers)
print("Largest Number:", largest)

# Using loop to find the largest number manually
largest_manual = numbers[0]
for num in numbers:
    if num > largest_manual:
        largest_manual = num
print("Largest Number (Without max()):", largest_manual)

Largest Number: 100
Largest Number (Without max()): 100

1. We use max() to find the largest number directly.
2. A manual method is also shown using a loop to compare values.

In [51]:
from collections import Counter  # Import Counter from collections module

elements = [1, 2, 3, 1, 2, 3, 1, 4, 5, 4, 4]
frequency = Counter(elements)  # Counts occurrences of each element
print("Frequency of elements:", frequency)

# Manual method
freq_manual = {}
for elem in elements:
    freq_manual[elem] = freq_manual.get(elem, 0) + 1  # Increment count for each element
print("Frequency (Manual Count):", freq_manual)

Frequency of elements: Counter({1: 3, 4: 3, 2: 2, 3: 2, 5: 1})
Frequency (Manual Count): {1: 3, 2: 2, 3: 2, 4: 3, 5: 1}

1. Counter() automatically counts how many times each element appears.
2. The manual method uses a dictionary to store and update counts.

In [52]:
students = {
    "Alice": 85,
    "Bob": 78,
    "Charlie": 92,
    "David": 88
}

# Finding the student with the highest marks
top_student = max(students, key=students.get)  # Finds the key with the highest value
print("Top Student:", top_student, "with marks", students[top_student])

Top Student: Charlie with marks 92

1. The dictionary stores student names as keys and marks as values.
2. max(students, key=students.get) finds the student with the highest score.

In [53]:
n = int(input("Enter the limit for Fibonacci series: "))  # Get the limit from the user
a, b = 0, 1  # Initialize the first two numbers

print("Fibonacci Series:")
while a <= n:
    print(a, end=" ")  # Print the current number
    a, b = b, a + b  # Update values for the next iteration
print()

Enter the limit for Fibonacci series: 10
Fibonacci Series:
0 1 1 2 3 5 8

1. Fibonacci series starts with 0 and 1, then each number is the sum of the previous two.
2. while loop ensures the series continues until it reaches the given limit.

In [54]:
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique_numbers = list(set(numbers))  # Convert list to set to remove duplicates, then back to list

print("Original List:", numbers)
print("List after removing duplicates:", unique_numbers)

Original List: [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
List after removing duplicates: [1, 2, 3, 4, 5, 6, 7]

1. Sets don’t allow duplicates, so converting a list to a set automatically removes them.
3. Converting it back to a list gives the result without duplicates.